/* Oscar-themed styles */

body {
    font-family: Arial, sans-serif;
    background-color: #292929;
    color: #fff;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #F5C518;
    color: #292929;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    background-color: #FCE303;
}

p#word {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
